<!-- 使い方ページ -->
<!doctype html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>
                CircleCheckTool
            </title>
        </head>
        <body>
        <h1>同人誌即売会サークルチェック支援ツール CircleCheckToolの使い方</h1> 
	このアプリケーションは卒業研究の一環として製作している同人誌即売会サークルチェック支援ツールです。
	<br>無料利用・即売会の種類が限定されない・キーワード検索が可能　の3つをコンセプトにTwitterAPIを用いて簡易サークルチェックを行うことを目指しています。
	<br>現在、五十音・アルファベットのスペース番号のみに対応しております。
	<h2>1.連携アプリ認証</h2>
	Twitterアカウントで連携アプリ認証をします。アカウントをお持ちでない方は先にTwitterアカウントを作成してください。
	<br><連携アプリ認証>をクリックすると認証ページにリンクします。<連携アプリを認証>をクリックしてください。
	<br>なお、このアプリケーションはAPI認証時のみ読み取り情報を利用し、それ以外の情報の読み取りおよび書き込みをすることはありません。
	<br><img src = "../static/1.png" border = 1>
	<br><img src = "../static/2.png" border = 1>

	<h2>2.サークル配置図の作成</h2>
	入力用のサークル配置図ファイルを作成します。スペース番号のabの有無によりダウンロードするファイルを選んでください。
	<br>ここでは例としてスペース番号にabの区別がある場合のサークル配置図作成について解説します。<p>
	<img src = "../static/3.png" border = 1>

	<p><br>サークル配置図ファイルは以下のシートで構成されています。
	<h3>・MAP(サークル配置図書き込み用)シート</h3>
　	サークル配置図を書き込むシートです。スペース番号にabの区別がある場合、1スペースを2列の幅を使って表現します。
	<br><img src = "../static/4.png" border = 1>

	<h3>・LIST(サークルリスト用)シート</h3>
　	サークルリストが書き込まれるシートです。
	<br>　　・CircleNo.：スペース番号
	<br>　　・Writer：著者(Twitterのユーザー名)
	<br>　　・TwitterID：TwitterのユーザーID
	<br>　　・Circle：サークル名
	<br>　　・Character：検索時に入力したキャラクター名
	<br>　　・Tweet：抽出元のツイートURL
	<br><img src = "../static/5.png" border = 1>

	<h3>・サークル配置図作成支援シート</h3>
	サークル配置図の書き込み時にブロックごとの配置パターンおよびブロック名の範囲から同様の配置パターンで複数のブロックをMAPシートに生成し、サークル配置図作成を支援します。
	<br><img src = "../static/6.png" border = 1>

	<h3>[配置図の作り方]</h3>
	サークル配置図作成支援シートのマクロを用いた配置図作成の方法を解説します。
　	<br>　1)生成するブロック名の範囲を選択します。
　	<br>　2)入力範囲にブロックごとの配置パターンを入力します。
	<br>　　※スペース番号にabの区別がある場合は入力例のように1スペースあたりを2列とし、左の列にスペース番号を入力してください
	<br>　　※入力時は必ずブロック名を1つ入力してください。
　	<br>　3)複製したい範囲を選択状態にします。
　	<br>　4)生成ボタンを押してください。
　	<br>　5)MAPシートに配置パターンの複製が生成されます。これを元にサークルチェックしたいイベントの配置図を作成してください。
　	<br>　6)作成が終了したらxlsx形式(マクロが含まれない形式)で保存してください。	
	<br><img src = "../static/6_2.png" border = 1>
	<br><img src = "../static/7.png" border = 1>

	<h2>3.サークルチェック</h2>
	1)入力ファイルを選択します。2で作成したファイルを選択してください。(xlsx形式のみ入力できます)
　	<br>2)サークルチェックしたいイベント名を入力してください。限定的な名前より一般名のほうがヒット率が上がります。略称等も含める場合は空白で区切って入力してください。
	<br>　　例)×東方紅楼夢15　○紅楼夢
　	<br>3)サークルチェックしたいキャラクター名や属性名を入力してください。複数ある場合は空白で区切って入力してください。
　	<br>4)コミックマーケットなどの日を跨ぐイベントの場合は曜日・日にちを入力してください。それ以外のときは空欄にしてください。
　	<br>5)<検索する>ボタンを押してください。検索件数によっては処理に時間がかかることがあります、しばらくお待ち下さい。
	<br><img src = "../static/8.png" border = 1>
	<h3>[注意]</h3>
	現在(2019/10/17)、頻度はまばらですが検索時に原因不明のエラーが発生することがあります。この場合、何度かやり直すことで正常に検索できることがありますのでお試しください。
	<br>今後の改善として原因追求に努めて参ります。

	<h2>4.出力されるファイルの見方</h2>
	以下に出力例を示します。ただしプライバシー保護のため特定可能な情報は黒塗りで修正しております。
	<br>LISTシートではサークルチェックの検索条件に一致したサークルの情報についてリスト化し、キャラクター名ごとに色分けされます。サークル名が抽出できなかった場合、"no name"と表示されます。
	<br>サークルリストでは著者のTwitterIDおよび抽出元ツイートのハイパーリンクが貼られています。クリックすることによりそのリンクに飛ぶことができます。
	<br>また、MAPシートではLISTシートに対応したスペース番号のセルの背景色がキャラクターごとに色分けされ、カーソルを載せると対応したサークルの情報を表示します。
	<br>スペース番号にabの区別があるイベントの場合、aのスペースは左のセル、bのスペースは右のセルの背景色が色分けされます。
	<br><img src = "../static/9.png" border = 1>
	<br><img src = "../static/10.png" border = 1>
	
    <!-- <p><a href="https://circle-check-app.herokuapp.com/">戻る</a></p> -->
    <p><a href="https://circle-check-app.azurewebsites.net">戻る</a></p>
        </body>
      <footer>
        <small>
          This application is created by <a href="https://twitter.com/annmitsu456">あんみつ</a>
          <br>このアプリケーションは卒業研究の一環として製作しているサークルチェックツールです。
          <br>初心者の拙いプログラミングによるツールのため、参考程度にご利用ください。
          <br>このツールの利用によって生じた損害につきましては一切の責任を負いません。
          <br>フィードバックはにゃぬき(<a href="https://twitter.com/nyanuki333">@nyanuki333</a>)までお願い致します。
        </small>
      </footer>
    </html>